.header {
  margin-top: 6%;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}

.form-body {
  width: 30%;
}

.mb-10 {
  margin-bottom: 10px;
}

.profile-body {
  margin-left: 15%;
}

.left-col {
  width: 30%;
  float: left;
  margin-top: 5%;
}

.right-col {
  width: 70%;
  float: left;
  margin-top: 5%;
}

.back-btn {
  padding: 5px 10px;
  background-color: #4c6baf;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}

.back-btn:hover {
  cursor: pointer;
}